.containerMod{width: 90%;}
.txt-blue{color: blue;}
.marginLRAuto{margin-left: auto;margin-right: auto;}

/*-------Header-------*/
header{margin-top: 10px;max-height: 57.5px;}
header img{position: absolute;top: 10px;left: 8%;}
/*---TopNav---*/
.topnav{margin-left: 25%;overflow: hidden;height: 57.5px;}
.topnav a{padding: 16px 4%;float: left;display: block;text-align: center;text-decoration: none;font-size: 17px;color: black;}
.topnav a:hover{background-color: white;color: black;}
.topnav .icon{display: none;}
/*BurgerIcon*/
.burger{width: 32px;height: 4px;background-color: black;margin: 7px 0;}
.change #burger1{transform: rotate(-45deg) translate(-9px, 6px);}
.change #burger2{opacity: 0;}
.change #burger3{transform: rotate(45deg) translate(-8px, -8px);}
/*-------\Header-------*/

/*-------Apply-------*/
.apply,.content,.imgApply{height: 681px;max-height: 681px;overflow: hidden;}
.apply{margin-left: 8%;}
.content{padding-left: 0;padding-right: 0;height: 681px;overflow: hidden;min-height: 681px;}
.content h2{margin-top: 165px;font-size: 47px;}
.content #txt-content{margin-top: 25px;font-size: 22px;max-height: 66px;}
.content a{margin-top: 50px;}
.resaux{margin-top: 90px;margin-right: 10px;}
/*---Button---*/
.btn-grad {width: 200px;height: 50px;margin: 10px;margin-left: 0;padding: 30px;
		background-color: #8471FF;background-size: 200% auto;color: white;
		text-align: center;text-shadow: 0px 0px 10px rgba(0,0,0,0.2);box-shadow: 0 0 2px black;
    transition: 0.5s;border-radius: 10px;display: block;}
.btn-grad:hover { background-position: right center;text-decoration: none;color: white;}
/*---img--*/
#oval{position: absolute;top: 270px;left: 35px;}
#etudiante{position: absolute;top: 116px;}
/*-------\Apply-------*/

/*-------Featured-------*/
.featured{background-color: #FAFAFA;height: 423px;position: absolute;top: 748px;width: 100%;}
.featured h3{text-align: center;text-transform: uppercase;font-weight: 100;margin-top: 55px;}
/*-------\Featured-------*/

/*-------Services-------*/
.services{height: 1269px;margin-top: 423px;text-align: center;overflow: hidden;}
.services h3{padding-top: 122px;}
.services p{font-size: 22px;}
.txt-services{width: 69%;padding-top: 50px;max-height: 116px;}
.responsiveCards{margin: auto!important;margin-bottom: 20px!important;margin-top: 60px!important;}
/*---Cards---*/
.card-services{margin-top: 104px;}
.card{border-radius: 20px;text-align: left;height: 351px;width: 334px;margin-right: 1.75%;margin-left: 1.75%;margin-bottom: 56px;overflow: hidden;}
#firstCard{border: solid #6F7AFD;}
.afterCard, .card{box-shadow: 0 0 30px lightgray;}
.card .txt-card{overflow: hidden;height: 90px;}
.card p{font-size: 16px;}
.card h5{font-size: 24px;max-height: 28.8px;overflow: hidden;}
.card-img-top{width: 76px;height: 76px;margin-top: 29px;margin-left: 20px;}
.link-card{margin-top: 50px;}
.card a{text-decoration: none;}
/*-------\Services------*/

/*-------News------*/
.news{height: 1120px;text-align: center;background-color: #FAFAFA;}
.news h3{padding-top: 102px;}
.txt-news{width: 65%;font-size: 22px;padding-top: 30px;height: 96px;}
/*---Cards---*/
.card-news{height: 406px;margin-top: 60px;}
.imgCal{height: 15px;margin-top: 6px;margin-left: 5%;}
.date p{margin-left: 4%;}
#btNews{margin-top: 200px;margin-left: auto;margin-right: auto;}
/*-------\News-----*/

/*-------Events-------*/
.events{height: 890px;text-align: center;overflow: hidden;}
.events h3{margin-top: 96px;}
.events .txt-events{width: 65%;margin-top: 38px;font-size: 22px;height: 96px;overflow: hidden;}
/*---Slider Cards---*/
#sliderEvents{margin-left: auto;margin-right: auto;width: 80%;}
.diapoSliderEvents{position: relative;}
.ce1{float: left;margin-left: 10%;}
.ce2{float: right;margin-right: 10%;}
.navigationEvents{position: absolute;top: 4333px;left: 48%;}
.cardEvents{height: 308px;width: 37.5%;margin-top: 120px;border-radius: 10px;box-shadow: 0 0 30px lightgray;overflow: hidden;}
.rondNavEvents{height: 15px;width: 15px;border-radius: 15px;background-color: gray;margin-left: 6px;margin-right: 6px;}
.topCardEvents{width: 100%;height: 105px;overflow: hidden;}
.topCardEvents h5{margin-top: 29px;font-size: 24px;margin-left: 3%;text-align: left;}
.dateCardEvents{width: 76px;height: 76px;border-radius: 10px;background-color: #DCDEF9;margin-top: 29px;margin-left: 31px;color: #717CFF;font-size: 18px;}
#numDateCardEvents{font-size: 27px;margin-top: 7px;margin-bottom: 0;}
#monthDateCardEvents{position: absolute;top: 70px;left: 54px;}
.txt-cardEvents{margin-top: 30px;font-size: 17px;text-align: justify;width: 90%;margin-left: auto;margin-right: auto;overflow: hidden;}
.dwonCardEvents{width: 90%;margin-left: auto;margin-right: auto;}
.dwonCardEvents a{margin-top: 10px;float: left;}
.hourCardEvents{margin-top: 10px;float: right;}
.hourCardEvents img{width: 20px;height: 20px;margin-top: 5px;}
/*-------\Events-------*/

/*-------ready-------*/
.dreams{height: 220px;background-color: #FAFAFA;}
#txt-dreams{float: left;font-size: 37px;margin-left: 10%;margin-top: 90px;}
.dreams a{float: right;margin-right: 10%;margin-top: 90px;}
.responsiveDreams{float: none!important;margin-left: auto!important;margin-right: auto!important;text-align: center;margin-top: 40px!important;padding-top: 40px!important;}
/*-------\ready------*/

/*-------footer------*/
.footer{height: 346px;background-color: #717CFF;color: white;}
.footer a{color: white;text-decoration: none;}
.txt-footer{margin-left: 10%;margin-top: 64px;}
.txt-footer img{margin-bottom: 20px;}
#copyright{margin-top: 50px;}
.link-footer{margin-top: 64px;margin-left: 9%;}
.reseaux-footer{margin-right: 10%;}
.resauxFooter{float: right;margin-top: 210px;width: 50%;}
.resauxFooter img{margin-left: 10%;}
/*-------\footer------*/

@media screen and (max-width:1000px) {
	#txt-dreams{font-size: 30px;}
	.txt-news p{font-size: 18px;}
}

@media screen and (max-width: 800px) {
	.imgApply{display: none;}
	.content #txt-content{margin-right: 8%;}
	.news{margin-top: 40px;}
}

@media screen and (max-width: 600px) {
	.content #txt-content,.txt-services p,.txt-events p{font-size: 16px;}
}


/*-------Responsive BurgerMenu-------*/
@media screen and (max-width: 800px) {
.topnav{background-color: white;margin-left: 0;float: right;overflow: visible;}
.topnav a{display: none;padding: 0 0;}
.topnav a.icon{background-color: white;float: right;display: block;margin-right: 100%;margin-top: 5px;}
.topnav.responsive{position: absolute;z-index: 100;right: 0}
.topnav.responsive.icone{position: absolute;right: 0;top: 0;}
.topnav.responsive a{float: none;display: block;text-align: left;}

header{height: 67.5px;}
}/*-------\Responsive BurgerMenu-------*/

/*-------Carousel Featured-------*/
.carousel{margin-top: 120px;}
/*item4*/
@media (min-width: 768px) and (max-width: 991px){
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item{
        position: absolute;top: 0;right: -33.3333%;z-index: -1;display: block;visibility: visible;}
}
@media (min-width: 576px) and (max-width: 768px) {
/*item3*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;top: 0;right: -50%;z-index: -1;display: block;visibility: visible;}
}
@media (min-width: 576px) {
    .carousel-item {margin-right: 0;}
    /*item2*/
    .carousel-inner .active + .carousel-item {display: block;}
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item{transition: none;}
    .carousel-inner .carousel-item-next {position: relative;transform: translate3d(0, 0, 0);}
    /*left */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item{position: relative;transform:translate3d(-100%, 0, 0);visibility: visible;}
    /*right*/
    .carousel-inner .carousel-item-prev.carousel-item-right {position: absolute;top: 0;left: 0;z-index: -1;display: block;visibility: visible;}
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {position: relative;transform:translate3d(100%, 0, 0);visibility: visible;display: block;visibility: visible;}
}
@media (min-width: 768px) {
    .carousel-inner .active + .carousel-item + .carousel-item {display: block;}
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {transition: none;}
    .carousel-inner .carousel-item-next {position: relative;transform: translate3d(0, 0, 0);}
    /*left*/
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {position: relative;transform:translate3d(-100%, 0, 0);visibility: visible;}
    /*right*/
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {position: relative;transform:translate3d(100%, 0, 0);visibility: visible;display: block;visibility: visible;}
}
@media (min-width: 991px) {
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {display: block;}
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {transition: none;}
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;top: 0;right: -25%;z-index: -1;display: block;visibility: visible;}
    /*left*/
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {position: relative;transform:translate3d(-100%, 0, 0);visibility: visible;}
    /* right*/
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {position: relative;transform: translate3d(100%, 0, 0);visibility: visible;display: block;visibility: visible;}
}/*-------\Carousel featured------->
